<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<a id="download" href="#">ダウンロード</a>
<script src="/javascripts/download.js" type="application/javascript"></script>
</body>
</html>
